<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-light">

  <!-- Footer Links -->
  <div class="container text-center text-md-left py-4">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">{{ site.title | escape }}</h5>
        <p class="">{{- site.description | escape -}}</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Explore</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/attorneys" class="text-info">Attorneys</a>
          </li>
          <li>
            <a href="/services" class="text-info">Services</a>
          </li>
          <li>
            <a href="/about" class="text-info">About</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Get in touch</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/contact" class="text-info">Send us a message</a>
          </li>
          <li>
            <a href="mailto:{{site.email}}" class="text-info">Email {{site.email}}</a>
          </li>
          <li>
            <a href="tel:{{site.phone}}" class="text-info">Call {{site.phone}}</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© {{ 'now' | date: "%Y" }}
 Copyright: {{site.title}}
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
